$dark-navy: #0B0D17;
$light-bluw: #D0D6F9;
$white: #FFFFFF;

@font-face {
  font-family: "Barlow-Regular";
  src: url(../../assets/fonts/Barlow/Barlow-Regular.ttf);
}

@font-face {
  font-family: "Bellefair-Regular";
  src: url(../../assets/fonts/Bellefair/Bellefair-Regular.ttf);
}
@font-face {
  font-family: "BarlowCondensed-Regular";
  src: url(../../assets/fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf);
}

@mixin Heading-XL {
  font-family: "Bellefair-Regular";
  font-size: 144px;
  letter-spacing: 0px;
  line-height: normal; //171.9%
}

@mixin Heading-L {
  font-family: "Bellefair-Regular";
  font-size: 100px;
  letter-spacing: 0px;
  line-height: normal; //114.6%
}

@mixin Heading-M {
  font-family: "Bellefair-Regular";
  font-size: 56px;
  letter-spacing: 0px;
  line-height: normal; //64.2%
}

@mixin Heading-M {
  font-family: "Bellefair-Regular";
  font-size: 56px;
  letter-spacing: 0px;
  line-height: normal; //64.2%
}

@mixin Heading-S {
  font-family: "Bellefair-Regular";
  font-size: 32px;
  letter-spacing: 0px;
  line-height: normal; //36.7%
}

@mixin Heading-XS {
  font-family: "BarlowCondensed-Regular";
  font-size: 28px;
  letter-spacing: 4px;
  line-height: normal; //33.6%
}

@mixin SubHeading-L {
  font-family: "Bellefair-Regular";
  font-size: 28px;
  letter-spacing: 0px;
  line-height: normal; //32.1%
}

@mixin SubHeading-S {
  font-family: "BarlowCondensed-Regular";
  font-size: 14px;
  letter-spacing: 2px;
  line-height: normal; //16.8%
}

@mixin SubHeading-S {
  font-family: "BarlowCondensed-Regular";
  font-size: 14px;
  letter-spacing: 2px;
  line-height: normal; //16.8%
}

@mixin NavText {
  font-family: "BarlowCondensed-Regular";
  font-size: 16px;
  letter-spacing: 2px;
  line-height: normal; //19.2%
}

@mixin Body {
  font-family: "Barlow-Regular";
  font-size: 18px;
  letter-spacing: 0px;
  line-height: normal; //180%
}